*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
.nav{
  font-size: 1.5rem;
  padding :20px;
  display: flex;
  justify-content: space-between;
  background-color: #e0ebdc;
  align-items: center;
}
.btn-container{
  display: flex;
 gap:2rem;
 align-items: center;

}
.btn-container button ,.card-btn{
  padding: 15px 20px;
  font-size: 1.3rem;
  text-transform: capitalize;
  border: none;
  background-color: #03841f;
  border-radius: 10px;
  color:white;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:3rem;
  margin-top: 50px;
}
.card{
  width:500px;
  display: flex;
  gap:2rem;
  flex-direction: column;
  border-radius: 20px;
  font-size: 1.5rem;
  padding:40px; 
  background-color: #e4f3e2;
}
.card .card-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:2rem;
}
.card-form input {
  padding:10px;
  font-size: 1rem;
}
.card-btn{
  background-color: #388de1;
}
.err-txt{
  font-size: 1.1rem;
  color:red;
}